<div class="banner"><h1>My Cocktail Bar</h1></div>
<div class="container">

  <h1>Cocktails!</h1>
  <br>

  <h2>All Cocktails:</h3>
  <br>

  <% @cocktails.each do |cocktail| %>
  <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>

  <% end %>
  <br>
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>

</div>
