<div>
  <% @cocktails.each do |cocktail| %>
    <h3 ><%= link_to cocktail.name, cocktail_path(cocktail)%></h3>
      <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>
