.cocktail-card {
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url();

}

.cocktail-card:hover {
  text-decoration: none;
  color:white;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  transition: box-shadow .2s ease;
}

